doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if title!='Artist List'
      .black_bar 
        a(href='/')
          h1 Home
    block content
